body {
    background: rgb(2, 2, 46);
    margin: 0;
}

footer {
    text-align: center;
    background-color: black;
    margin-left: 0;
}

#greet {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#myname {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 45px;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    text-align: left;
}

#namebuttimg {
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

#top-buttons {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 5px;
}

div img {
    height: 180px;
    width: 200px;
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 20px;
}

button {
    border-radius: 5px;
    background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
    animation: slidernbw 5s linear infinite;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 83, 83);
    padding: 10px;
    margin: 10px;
    transform: scale(1);
    transition: 0.2s;
    text-align: center;
}

button:hover{
    transform: scale(1.2);
    color: white;
}

@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }

.buttadv {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 45px;
    margin-top: 200px;
    background: linear-gradient(90deg, #156983 20%, #bea748 50%, #e6274d 75%, #156983 50%);
    animation: slidernbw 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 200;
}

.pagedesc {
    margin-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

#footerdesc {
    margin-left: 0;
}

@media (max-width: 500px) {
    #myname {
      margin-right: 0;
      margin-top: 20px;
      margin-left: 10px;
      margin-bottom: 0;
      font-size: 23px;
      font-weight: 200;
    }

    .buttadv {
        font-size: 25px;
        margin-top: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .pagedesc {
        font-size: 15px;
    }

    #greet{
        font-size: 20px;
    }

    div img {
        height: 160px;
        margin-right: 10px;
    }

    #namebuttimg {
        margin-top: 50px;
    }

    #namebutt {
        margin-right: 10px;
    }

    button {
        height: 30px;
        width: 50px;
        font-size: 9px;
        padding: 3px;
    }
  }