body {
    text-align: center;
    background-color: rgb(255, 250, 210);
}

.minicard1 {
    height: 410px;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: rgb(114, 114, 114);
}

h2 {
    font-weight: 300;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 6px;
    color: rgb(104, 104, 104);
    border: 1px solid transparent;
    background-color: transparent;
    transform: scale(1);
    transition: 0.5s;
}

button:hover {
    border-bottom: 1px solid black;
    transform: scale(1.1);
}

.first-card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 214, 152);
    border-radius: 20px;
    border: 1px solid rgb(140, 140, 140);
    color: rgb(140, 140, 140);
    font-size: xx-large;
    font-weight: 200;
}

.second-card {
    border-radius: 20px;
    background-color: rgb(255, 232, 155);
    border: 1px solid rgb(140, 140, 140);
}

.third-card {
    border-radius: 20px;
    background-color: rgb(223, 223, 255);
    border: 1px solid rgb(140, 140, 140);
}

.fifth-card {
    border: 1px solid rgb(140, 140, 140);
    border-radius: 20px;
    background-color: rgb(199, 240, 255);
}

.sixth-card {
    border: 1px solid rgb(140, 140, 140);
    border-radius: 20px;
    background-color: rgb(242, 255, 159)
}

.seventh-card {
    border-radius: 20px;
    border: 1px solid rgb(140, 140, 140);
    background-color: rgb(255, 222, 249);
}

.fourth-card {
    border-radius: 20px;
    border: 1px solid black;
}

#codepen-logo {
    height: 30px;
    width: 30px;
}

.pagedesc {
    color: rgb(140, 140, 140);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

div img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.buttadv {
    font-weight: 200;
}

.main {
    display: flex;
    flex-direction: column;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.5em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -1.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff57d2;
    border: none;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
    border: none;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
    border: none;
}
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
    border: none;
  }
  
  .card4:hover .discord {
    fill: white;
  }

footer {
    text-align: center;
    background-color: rgb(68, 68, 68);
    margin: 0;
    color: rgb(158, 115, 6);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 20px;
  }


  @media(max-width: 500px)
  {
    button {
        font-size: 15px;
        font-weight: 300;
    }

    h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    h2 {
        font-size: 18px;
    }

    #name {
        font-size: 20px;
    }

    div img {
        height: 160px;
        width: 150px;
        border-radius: 20px;
    }

    .buttadv {
        font-size: 30px;
    }

  }